@using CMS.Models.CuraHub.ClinicSection
@using CMS.Models.CuraHub.ClinicSection.ClinicSectionVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
<style>

    body {
        background-color: #e2e6ea;
        background-image: none;
    }

    h1 {
        color: black;
    }

</style>

@model TotalSpecializationsVM




<h1>
    <img src="~/Files/Images/فلسطين.svg" class="rounded-circle " style="width: 50px;" />
</h1>

<br />

<div class="bg-white p-3 mt-3">

<form>
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <input type="text" class="form-control" name="query" id="SearchInput" placeholder="Search for Doctor">
            </div>

        </div>
       

        <div class="col-2">
            <button type="submit" class="btn btn-primary mt-0">Search</button>

        </div>
    </div>
</form>

<div class="row">
    <div class="col-10">
        <h1>All Scializations</h1>
    </div>
    <div class="col-2">
        <a href="/Admin/CuraHub/Clinic/Specialization/CreateEdit" class="btn btn-secondary"><i class="bi bi-plus-circle"></i> Add New Specialization</a>
    </div>
</div>
<br />


<table class="table" style="border:solid">
    <thead class="table-dark">
        <tr>
            <th scope="col" style="text-align:center">ID</th>
            <th scope="col" style="text-align:center">Name</th>
            <th scope="col" style="text-align:center">Logo</th>
            <th scope="col" style="text-align:center">Doctors</th>
            <th scope="col" style="text-align:center">Q & A</th>

            <th scope="col" style="text-align:center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.specializations)
        {
            <tr style="border:solid">
                <th scope="row" style="border:solid">@item.Id</th>
                <th scope="row" style="border:solid">@item.Name</th>
                <th scope="row" style="border:solid;text-align:center"> <img src="~/Files/Images/SpecializationLogo/@item.Icon" alt="Alternate Text" style="width:50px" class="rounded-circle"/> </th>
                <th scope="row" style="border:solid;text-align:center"><a href="/Admin/CuraHub/Clinic/Doctor/Index?SpecializationId=@item.Id">All Doctors</a></th>
                <th scope="row" style="border:solid;text-align:center"><a href="/Admin/CuraHub/Q&A/Question/Index?SpecializationId=@item.Id">All Q & A</a></th>

                <td scope="row" style="border:solid;text-align:center">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-primary">Action</button>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="/Admin/CuraHub/Clinic/Specialization/CreateEdit?SpecializationId=@item.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                @* <a class="dropdown-item" href="/Admin/CuraHub/Clinic/Specialization/Delete?SpecializationId=@item.Id" onclick="return confirm('are you sure?')">Delete</a> *@

                                <button type="button" class="dropdown-item delete-btn"
                                        data-Specialization-id="@item.Id"
                                        data-Specialization-name="@item.Name"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteModal">
                                    <i class="bi bi-trash"></i> Delete
                                </button>
                            
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex flex-row-reverse">

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            @for (int i = 1; i <= (Model.TotalSpecializationCount+4)/5; i++)
            {

                <li class="page-item"><a class="page-link " href="/Admin/CuraHub/Clinic/Specialization/Index?PageNumber=@i">@i</a></li>

            }
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>


</div>

</div>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the Specialization <strong id="modalSpecializationName"></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<script>
    // Attach event listener to all delete buttons
    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function () {
            const SpecializationId = this.getAttribute('data-Specialization-id');
            const SpecializationName = this.getAttribute('data-Specialization-name');

            // Set the category name in the modal
            document.getElementById('modalSpecializationName').textContent = SpecializationName;

            // Update the delete link to include the categoryId
            const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
            confirmDeleteBtn.href = `/Admin/CuraHub/Clinic/Specialization/Delete?SpecializationId=${SpecializationId}`;
        });
    });
</script>



