@using CMS.Models.CuraHub.ClinicSection.ClinicSectionVM.ClinicReceptionistVM
@using CMS.Utitlities.StaticData
@{
    var cities = City.cities; // Use a dictionary to store cities for each state

    List<string> BloodTypes = ["A+", "A-", "B+", "B-", "AB+", "AB-", "O+", "O-"];
    List<string> MaritalStatus = ["Single", "Married"];
    List<string> Titles = ["Professor", "Lecturer", "Consultant", "Specialist"];
   
}
@{
    ViewData["Title"] = "CreateEdit";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}


@model ClinicReceptionistCreateEditVM

<br />
<br />
<br />
<br />
<br />
<br />

<h1>
    <img src="~/Files/Images/فلسطين.svg" class="rounded-circle " style="width: 50px;" />
</h1>



<div class="row mt-2">
    @if(Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Creating)
    {
        <h1 class=" text-start d-block"><a href="/Admin/CuraHub/Clinic/ClinicReceptionist/Index"><i class="bi bi-arrow-left"></i> </a>  Add New Clinic Receptionist</h1>
    }
    else
    {
        <h1 class=" text-start d-block"><a href="/Admin/CuraHub/Clinic/ClinicReceptionist/Index"><i class="bi bi-arrow-left"></i> </a>  Upddate Clinic Receptionist</h1>

    }
</div>
<div class="row">
    <form action="/Admin/CuraHub/Clinic/ClinicReceptionist/CreateEdit" method="post" enctype="multipart/form-data">
        <input type="hidden" name="Id" value="@Model.Id" id="Id" />
        <input type="hidden" name="CrudClinicReceptionistOption" value="@Model.CrudClinicReceptionistOption" id="CrudDoctorOption" />

        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="FirstName" class="form-label text-black  text-start d-block">First Name</label>
                            <input type="text" required="" class="form-control" value="@Model.FirstName" id="FirstName" name="FirstName" placeholder="First Name">
                            <span class="text-danger" asp-validation-for="@Model.FirstName"></span>

                        </div>

                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="LastName" class="form-label  text-black  text-start d-block">Last Name</label>
                            <input type="text" required="" class="form-control" value="@Model.LastName" id="LastName" name="LastName" placeholder="Last Name">
                            <span class="text-danger" asp-validation-for="@Model.LastName"></span>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="Email" class="form-label  text-black  text-start d-block">Email</label>
                            <input type="email" required="" class="form-control" value="@Model.Email" id="Email" name="Email" placeholder="Email">
                            <span class="text-danger" asp-validation-for="@Model.Email"></span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="Phone" class="form-label  text-black  text-start d-block">Phone</label>
                            <input type="text" required="" class="form-control" value="@Model.Phone" id="Phone" name="Phone" placeholder="Phone">
                            <span class="text-danger" asp-validation-for="@Model.Phone"></span>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="DoctorId" class="form-label  text-black  text-start d-block">Doctor</label>
                            <select class="form-select" required="" id="DoctorId" name="DoctorId" aria-label="Default select example">
                                @if (Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Creating)
                                {
                                    <option selected disabled>Select Specialization</option>
                                }
                                else
                                {
                                    <option disabled>Select Specialization</option>

                                }
                                @foreach (var doctor in Model.Doctors)
                                {

                                    if (Model.DoctorId == doctor.Id && Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Editing)
                                    {
                                        <option selected value="@doctor.Id">@doctor.FirstName @doctor.LastName</option>

                                    }
                                    else
                                    {
                                        <option value="@doctor.Id">@doctor.FirstName @doctor.LastName</option>

                                    }
                                }

                            </select>
                            <span class="text-danger" asp-validation-for="@Model.DoctorId"></span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="mb-3">
                    <label for="ProfilePictureFile" class="form-label text-black">Profile Picture</label>
                    <input type="file"  accept="images/*" class="form-control" name="ProfilePictureFile" id="ProfilePicture" placeholder="Profile Picture" onchange="previewImage(event)">
                </div>
                <div class="mb-3">
                    <img id="preview" src="~/Files/Images/profiles/@Model.ProfilePicture" alt="Image Preview" style="display:none; max-width: 150px; max-height: 150px;">
                </div>
                <span class="text-danger" asp-validation-for="@Model.ProfilePicture"></span>

            </div>

        </div>
        <div class="row">
            <div class="col-3">
                <label for="mySelect" class="form-label text-black">State</label>
                <select class="form-select" name="State" id="mySelect" aria-label="Default select example">
                    <option selected>Select State</option>
                    <option value="Alexandria">Alexandria</option>
                    <option value="Aswan">Aswan</option>
                    <option value="Asyut">Asyut</option>
                    <option value="Beheira">Beheira</option>
                    <option value="Beni Suef">Beni Suef</option>
                    <option value="Cairo">Cairo</option>
                    <option value="Dakahlia">Dakahlia</option>
                    <option value="Damietta">Damietta</option>
                    <option value="Faiyum">Faiyum</option>
                    <option value="Gharbia">Gharbia</option>
                    <option value="Giza">Giza</option>
                    <option value="Ismailia">Ismailia</option>
                    <option value="Kafr el-Sheikh">Kafr el-Sheikh</option>
                    <option value="Luxor">Luxor</option>
                    <option value="Matrouh">Matrouh</option>
                    <option value="Minya">Minya</option>
                    <option value="Monufia">Monufia</option>
                    <option value="New Valley">New Valley</option>
                    <option value="North Sinai">North Sinai</option>
                    <option value="Port Said">Port Said</option>
                    <option value="Qalyubia">Qalyubia</option>
                    <option value="Qena">Qena</option>
                    <option value="Red Sea">Red Sea</option>
                    <option value="Sohag">Sohag</option>
                    <option value="South Sinai">South Sinai</option>
                    <option value="Suez">Suez</option>
                    <option value="Sharqia">Sharqia</option>
                </select>

            </div>
            <div class="col-3">
                <label for="regionSelect" class="form-label text-black">City</label>
                <select class="form-select" id="regionSelect" name="City" aria-label="Default select example">
                    <option selected>Select Region</option>

                </select>

            </div>
            <div class="col-3">
                <label for="Region" class="form-label text-black">Region</label>
                <input type="text" required="" class="form-control" value="@Model.Region" id="Region" name="Region" placeholder="Region">
                <span class="text-danger" asp-validation-for="@Model.Region"></span>



            </div>
            <div class="col-3">
                <label for="Street" class="form-label text-black">Street</label>
                <input type="text" required="" class="form-control" value="@Model.Street" id="Street" name="Street" placeholder="Street">
                <span class="text-danger" asp-validation-for="@Model.Street"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label for="Gender" class="form-label text-black">Gender</label>
                <select class="form-select" required="" name="Gender" id="Gender" aria-label="Default select example">
                    @if (Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Editing)
                    {
                        if (Model.Gender == "Male")
                        {
                            <option disabled>Select Gender</option>
                            <option selected value="Male">Male</option>
                            <option value="Female">Female</option>
                        }
                        else if (Model.Gender == "Female")
                        {
                            <option disabled>Select Gender</option>
                            <option value="Male">Male</option>
                            <option selected value="Female">Female</option>
                        }
                    }
                    else
                    {
                        <option selected disabled>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    }

                </select>

            </div>
            <div class="col-3">
                <label for="BloodType" class="form-label text-black">Blood Type</label>
                <select class="form-select" required="" name="BloodType" id="BloodType" aria-label="Default select example">
                    @if (Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Creating)
                    {
                        <option selected disabled>Select Blood Type</option>
                    }
                    else
                    {
                        <option disabled>Select Blood Type</option>

                    }
                    @foreach (var bloodType in BloodTypes)
                    {

                        if (Model.BloodType == bloodType && Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Editing)
                        {
                            <option selected value="@bloodType">@bloodType</option>

                        }
                        else
                        {
                            <option value="@bloodType">@bloodType</option>

                        }
                    }

                </select>
                <span class="text-danger" asp-validation-for="@Model.BloodType"></span>

            </div>
            <div class="col-3">
                <label for="Marital Status" class="form-label text-black">Marital Status</label>
                <select class="form-select" required="" id="Marital Status" name="MaritalStatus" aria-label="Default select example">
                    @if (Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Creating)
                    {
                        <option selected disabled>Select Title</option>
                    }
                    else
                    {
                        <option disabled>Select Title</option>

                    }
                    @foreach (var maritalStatus in MaritalStatus)
                    {
                        if (Model.MaritalStatus == maritalStatus && Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Editing)
                        {
                            <option selected value="@maritalStatus">@maritalStatus</option>

                        }
                        else
                        {
                            <option value="@maritalStatus">@maritalStatus</option>

                        }
                    }

                </select>
                <span class="text-danger" asp-validation-for="@Model.MaritalStatus"></span>


            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="Salary" class="form-label text-black  text-start d-block">Salary</label>
                    <input type="number" required="" class="form-control" value="@Model.Salary" id="Salary" name="Salary" placeholder="Salary">
                    <span class="text-danger" asp-validation-for="@Model.Salary"></span>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="ApplicationUserId" class="form-label text-black">Application Users</label>
                <select class="form-select" required="" id="ApplicationUserId" name="ApplicationUserId" aria-label="Default select example">
                    @if (Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Creating)
                    {
                        <option selected disabled>Select Application User</option>
                    }
                    else
                    {
                        <option disabled>Select Application User</option>

                    }
                    @foreach (var user in Model.ApplicationUsers)
                    {

                        if (Model.ApplicationUserId == user.Id && Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Editing)
                        {
                            <option selected value="@user.Id">@user.Email</option>

                        }
                        else
                        {
                            <option value="@user.Id">@user.Email</option>

                        }
                    }

                </select>
                <span class="text-danger" asp-validation-for="@Model.ApplicationUserId"></span>

            </div>

           

            <div class="col-4">
                <div class="mb-3">
                    <label for="DateOfBirth" required="" class="form-label text-black  text-start d-block">Date Of Birth</label>
                    <input type="date" class="form-control" value="@Model.DateOfBirth" id="DateOfBirth" name="DateOfBirth" placeholder="Date Of Birth">
                    <span class="text-danger" asp-validation-for="@Model.DateOfBirth"></span>

                </div>
            </div>

            <div class="col-4">
                <div class="mb-3">
                    <label for="PersonalNationalIDNumber" class="form-label text-black  text-start d-block">Personal National ID Number</label>
                    <input type="text" required="" class="form-control" value="@Model.PersonalNationalIDNumber" id="PersonalNationalIDNumber" name="PersonalNationalIDNumber" placeholder="Personal National ID Number">
                    <span class="text-danger" asp-validation-for="@Model.PersonalNationalIDNumber"></span>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-4">
                <div class="mb-3">
                    <label for="StartWork" class="form-label text-black  text-start d-block">Start Work</label>
                    <input type="time" class="form-control" value="@Model.StartWork" id="StartWork" name="StartWork" placeholder="Start Work">
                    <span class="text-danger" asp-validation-for="@Model.StartWork"></span>

                </div>
            </div>

            <div class="col-4">
                <div class="mb-3">
                    <label for="EndWork" class="form-label text-black  text-start d-block">End Work</label>
                    <input type="time" class="form-control" value="@Model.EndWork" id="ExperienceYears" name="End Work" placeholder="End Work">
                    <span class="text-danger" asp-validation-for="@Model.EndWork"></span>

                </div>
            </div>

            <div class="col-4">

                <div class="mb-3">
                    <label for="PersonalNationalIDCardFile" class="form-label text-black">Personal National ID Card</label>
                    <input type="file" accept="images/*" class="form-control" name="PersonalNationalIDCardFile" id="PersonalNationalIDCardFile" placeholder="Personal National ID Card">
                </div>

            </div>


        </div>

        <br />
        @if (Model.CrudClinicReceptionistOption == CMS.Models.Enums.CrudOption.Creating)
        {
            <button type="submit" class="btn btn-primary ">Create</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary ">Edit</button>
        }

    </form>

</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"> </script>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}


<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('preview');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>

<script>
        var cities = @Html.Raw(Json.Serialize(cities));

    $(document).ready(function () {
      $('#mySelect').change(function () {
        var selectedState = $(this).val();
        var regionSelect = $('#regionSelect');

        // Clear previous options
        regionSelect.empty();

        if (selectedState) {
          var availableCities = cities[selectedState];
            regionSelect.append('<option selected>Select Region</option>');
            regionSelect.append('<option >All Region</option>');
          if (availableCities) {
            for (var i = 0; i < availableCities.length; i++) {
              regionSelect.append('<option value="' + availableCities[i] + '">' + availableCities[i] + '</option>');
            }
          }
        }
      });
    });
</script>


